* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    background: linear-gradient(135deg, rebeccapurple, hotpink) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    font-size: 2rem;
    justify-items: center;
    align-items: center;
    text-shadow: 0 2px 2px rgba(0,0,0, .2);
}